

{%- assign social = site.minima.social_links -%}

<ul class="social-media-list">

  {%- for glb in social.gitlab -%}
  {%- if glb.username and glb.instance -%}
  <li >
    <a rel="me" href="https://{{ glb.instance | cgi_escape | escape}}/{{glb.username}}" target="_blank" title="{{ glb.username | escape }}">
      <svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#gitlab' | relative_url }}">
        </use>
      </svg>
    </a>
  </li>
  {%- endif -%}
  {%- endfor -%}

  {%- if social.github -%}
  <li>
    <a rel="me" href="https://github.com/{{ social.github | cgi_escape | escape }}" target="_blank" title="{{ social.github | escape }}">
      <svg class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}">
        </use>
      </svg>
    </a>
  </li>
  {%- endif -%}

  {%- if social.stackoverflow -%}
  <li>
    <a rel="me" href="https://stackoverflow.com/users/{{ social.stackoverflow | cgi_escape | escape }}" target="_blank" title="{{ social.stackoverflow | escape }}">
      <svg class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#stackoverflow' | relative_url }}">
        </use>
      </svg>
    </a>
  </li>
  {%- endif -%}

  {%- if social.instagram -%}
  <li>
    <a rel="me" href="https://www.instagram.com/{{ social.instagram | cgi_escape | escape }}" target="_blank" title="{{ social.instagram | escape }}">
      <svg class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}">
        </use>
      </svg>
    </a>
  </li>
  {%- endif -%}
  
  {%- if social.twitter -%}
  <li>
    <a rel="me" href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}" target="_blank" title="{{ social.twitter | escape }}">
      <svg class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}">
        </use>
      </svg>
    </a>
  </li>
  {%- endif -%}

  {%- if social.researchgate -%}
  <li>
    <a rel="me" href="https://www.researchgate.net/profile/{{ social.researchgate | cgi_escape | escape }}" target="_blank" title="{{ author.name | escape }}">
      <svg class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#researchgate' | relative_url }}">
        </use>
      </svg>
    </a>
  </li>
  {%- endif -%}

  {%- if social.orcid -%}
  <li>
    <a rel="me" href="https://orcid.org/{{ social.orcid | cgi_escape | escape }}" target="_blank" title="{{ author.name | escape }}">
      <svg class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#orcid' | relative_url }}">
        </use>
      </svg>
    </a>
  </li>
  {%- endif -%}
  
  {%- if social.scholar -%}
  <li>
    <a rel="me" href="https://scholar.google.com/citations?user={{ social.orcid | cgi_escape | escape }}" target="_blank" title="{{ author.name | escape }}">
      <svg class="svg-icon grey">
        <use xlink:href="{{ '/assets/minima-social-icons.svg#scholar' | relative_url }}">
        </use>
      </svg>
    </a>
  </li>
  {%- endif -%}


</ul>
