---
---
@import "{{ site.theme }}";

.svg-icon {
  width: 50px;
  height: 50px
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

// Social icons
.footer-col-2 {
  width: -webkit-calc(100% - (#{$spacing-unit} / 2));
  width:         calc(100% - (#{$spacing-unit} / 2));
  padding-left: 0px;
  display: table-cell;
}

.footer-col-3 {
  width: -webkit-calc(65% - (#{$spacing-unit} / 2));
  width:         calc(65% - (#{$spacing-unit} / 2));
}

.social-media-list li + li {
    padding-top: 0px;
}

.social-media-list ul {
    float: left;
}

.social-media-list li {
    float: right;
}

$title-color: FireBrick;

// ====== Body text ======
body {
  font-family: Inter, serif;
}

// ====== Site title ======
.site-title {
  font-size: 26px;
  font-weight: bold;
  color: $title-color;
  font-family: Inter, sans-serif;
}
.site-title:visited{
  color: $title-color;
}

// ====== Post title ======
.post-title{
  font-family: Libre Baskerville, serif;
  text-decoration: none;
   font-weight: normal;
}
.post-link{
  font-family: Libre Baskerville, serif;
}

// ====== Post headers ======
.post-content h1 {
  // text-decoration: underline;
  font-weight: bold;
  font-family: Lato, sans-serif;
  font-size: 1.5em;
}
.post-content h2 {
  // text-decoration: underline;
  font-weight: normal;
  font-family: Lato, sans-serif;
  font-size: 1.5em;
}

// ====== Post listings ======
.post-list-heading {
  font-family: Lato, sans-serif;
}
